section.footer
  .footer-container
    .footer-1
      .websites
        h2.web-text Websites
        ul.footer-list
          li
            a(href='#') Home
          li
            a(href='#') Laptop
          li
            a(href='#') Mobile
          // <li><a href="#">Others</a></li>
          li
            a(href='#') Offers
          li
            a(href='#') About
      .subscribe
        h2.web-text Subscribe
        button.btnSubs Subscribe
      .newsletter
        h2.web-text NewsLetter
        .email-footer
          input(type='email' placeholder='Email')
          ion-icon.footer-send-Icon(name='send')
    hr
    .footer-3
      h2.company-name
        | Top 
        span.span 10
      p.footer-text
        | All Rights Reserved ; &copy; Copyrights 2022 || Top
        span.span 10
        |  Teams
