header.header
  .menu
    h1.title
      | Top
      span.span gadgets
    nav.nav
      .nav-btw-space
        ul.list.upper-list
          li.list-main
            a(href='/') Home
          li.laptop.list-main
            a(href='#') Laptop
          // ------------------------ DropDown ------------------
          .laptop-dropdown
            .dropdown-list
              ul.list-2
                li
                  a(href='/profession')
                    | Profession  
                hr
                li
                  a(href='/programming')
                    | programming
                hr
                li
                  a(href='/gaming') Gaming
              .square
          li.mobile.list-main
            a(href='#') Mobile
          .mobile-dropdown
            .dropdown-list
              ul.list-2
                li
                  a(href='/affordable')
                    | Affordable
                hr
                li
                  a(href='/flagship')
                    | Flagship
                hr
                li
                  a(href='/midrange') Midrange
              .square-1
          li.list-main
            a(href='/other') Other
          li.last
            a(href='/hbh') About 
  .Icon-menu
    ion-icon.openMenu(name='menu' type='button')
    ion-icon.closeMenu(name='close' type='button')
