extends base 

block content 
  section.offer-container
    h2.offers-headings
      | TOP &nbsp;&nbsp;
      span.span 3
      | &nbsp;&nbsp; PICKS
    .offers
      .laptop-offer TOP 3 LAPTOPS
      .offers-grid
        .item
          .cards2
            img.cards-img(src='./Img/Apple_Mac-12.jpg')
            .cards-details
              h2.cards-product-name Apple max Pro
              .cards-list
                ul
                  li 5000 maH Battery
                  li 6GB Ram/ 64GB Rom
                  li 90fps display
                ul
                  li 6 + 64 mpx Camera
                  li Ofers of Rs 500
                  li Price : 50000 -/
              h3.offers-statement Now Get At RS 49500 -/
              .buttons
                a.amz-btn.btn(href='#') Amazon
                a.fk-btn.btn(href='#') Flipkart
        .item.mid
          .cards2
            img.cards-img(src='./Img/Apple_Mac-12.jpg')
            .cards-details
              h2.cards-product-name Apple max Pro
              .cards-list
                ul
                  li 5000 maH Battery
                  li 6GB Ram/ 64GB Rom
                  li 90fps display
                ul
                  li 6 + 64 mpx Camera
                  li Ofers of Rs 500
                  li Price : 50000 -/
              h3.offers-statement Now Get At RS 49500 -/
              .buttons
                a.amz-btn.btn(href='#') Amazon
                a.fk-btn.btn(href='#') Flipkart
        .item
          .cards2
            img.cards-img(src='./Img/Apple_Mac-12.jpg')
            .cards-details
              h2.cards-product-name Apple max Pro
              .cards-list
                ul
                  li 5000 maH Battery
                  li 6GB Ram/ 64GB Rom
                  li 90fps display
                ul
                  li 6 + 64 mpx Camera
                  li Ofers of Rs 500
                  li Price : 50000 -/
              h3.offers-statement Now Get At RS 49500 -/
              .buttons
                a.amz-btn.btn(href='#') Amazon
                a.fk-btn.btn(href='#') Flipkart
      .mobile-offer TOP 3 MOBILES
      .offers-grid
        .item
          .cards
            img.cards-img(src='./Img/Redmi2.jpg')
            .cards-details
              h2.cards-product-name Apple max Pro
              .cards-list
                ul
                  li 5000 maH Battery
                  li 6GB Ram/ 64GB Rom
                  li 90fps display
                ul
                  li 6 + 64 mpx Camera
                  li Ofers of Rs 500
                  li Price : 50000 -/
              h3.offers-statement Now Get At RS 49500 -/
              .buttons
                a.amz-btn.btn(href='#') Amazon
                a.fk-btn.btn(href='#') Flipkart
        .item.mid
          .cards
            img.cards-img(src='./Img/Redmi2.jpg')
            .cards-details
              h2.cards-product-name Apple max Pro
              .cards-list
                ul
                  li 5000 maH Battery
                  li 6GB Ram/ 64GB Rom
                  li 90fps display
                ul
                  li 6 + 64 mpx Camera
                  li Ofers of Rs 500
                  li Price : 50000 -/
              h3.offers-statement Now Get At RS 49500 -/
              .buttons
                a.amz-btn.btn(href='#') Amazon
                a.fk-btn.btn(href='#') Flipkart
        .item
          .cards
            img.cards-img(src='./Img/Redmi2.jpg')
            .cards-details
              h2.cards-product-name Apple max Pro
              .cards-list
                ul
                  li 5000 maH Battery
                  li 6GB Ram/ 64GB Rom
                  li 90fps display
                ul
                  li 6 + 64 mpx Camera
                  li Ofers of Rs 500
                  li Price : 50000 -/
              h3.offers-statement Now Get At RS 49500 -/
              .buttons
                a.amz-btn.btn(href='#') Amazon
                a.fk-btn.btn(href='#') Flipkart

    