/******** THEME COLOR ***********/
/*  1]  #e4e9f7 2] #695cfe 3] #e9e9e9a1 4] #302090    */

/*==============  GLOBAL DESIGN HERE!============================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #e4e9f7;
  --body-color-02: #555;
  --sidebar-color: #f2f2f2;
  --primary-color: #5c87fe;
  --secondary-color: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #222;
  /*===== transition color ======*/
  --trans-01: all 0.3s ease-in-out;
  --trans-02: all 0.4s ease-in;
  --trans-03: all 0.5s ease-in-out;
  --trans-04: all 0.6s ease;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

body {
  width: 96%;
  margin: 1rem auto;
  background-color: #e9e9e9a1;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #302090;
}
.list a:link,
.list a:hover {
  color: #302090;
  transition: var(--trans-02);
}

/*============== GENERAL CLASS !============================*/
.mobile-list-sub,
.mobile-heading,
.product-list,
.modal-section,
.left-container,
.img-box,
.address,
.email,
.phone,
.carousel-offers,
.offers-headings,
.offer-para,
.cards,
.cards2,
.mobile-offer,
.laptop-offer,
.list-22 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*============== list class !============================*/
/* class="list" has flex-direction in row and list-2 has flex-direction column*/

.list-2 a:hover {
  border-bottom: none;
  transition: var(--trans-01);
  font-size: 1.5rem;
}
/*================ HEADER DESIGN HERE =======================*/
.header {
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 8.4rem;
  background-color: #cdd2de;
}

.Icon-menu {
  display: none;
  font-size: 3.6rem;
  color: #302090;
  padding: 0.4rem;
  border-radius: 50%;
}
.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9.4rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 9.6rem;
}

.title {
  display: inline-block;
  margin-right: 8.4rem;
  font-size: 3.6rem;
  line-height: 1.05;
  letter-spacing: 1.5px;
}
.list,
.list-2 {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.list {
  position: relative;
}

.list-2 li {
  position: relative;
}
.list-2 li ion-icon {
  position: absolute;
  display: inline-block;
  top: -0.6rem;
  padding: 0.4rem;
  font-size: 1.8rem;
}
.list-main a {
  position: relative;
  padding: 4px 0;
}

.list-main a:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  background-color: var(--primary-color);
  transition: var(--trans-02);
}

.list-main a:hover:before {
  width: 100%;
}

.others-dropdown,
.mobile-dropdown,
.laptop-dropdown {
  width: 12.6rem;
  border-radius: 0.8rem;
  padding: 1.4rem;
  background-color: var(--body-color);
  position: absolute;
  top: 3.8rem;
  transition: var(--trans-02);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 1;
}

.others-dropdown {
  left: 4%;
}
.laptop-dropdown {
  left: 12%;
}

.mobile-dropdown {
  left: 44%;
}

.dropdown-list {
  position: relative;
}

.list-2 {
  flex-direction: column;
  gap: 0.2rem;
}

.list-2 li {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1.2rem;
}
.list-2 li a {
  font-size: 1.5rem;
  color: #222;
}

.square-1,
.square {
  position: absolute;
  width: 9px;
  height: 9px;
  top: -1.8rem;
  transform: rotate(45deg);
  background-color: var(--body-color);
}

.square-1 {
  right: 8rem;
}
.square {
  right: 2rem;
}

.contact-Icon {
  padding: 1rem;
  border-radius: 50%;
  background-color: #302090;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 600;
}
.contact-Icon:hover {
  cursor: pointer;
  transition: var(--trans-02);
  background-color: var(--primary-color);
}

.contact {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.contact-us {
  display: flex;
  flex-direction: column;
}
/*================ SECTION-01 HERO DESIGN HERE =======================*/

.hero {
  width: 100%;
  background-color: #a0a3ad;
  padding: 2.2rem;
}
.laptop-container {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.hero-container {
  display: grid;
  grid-template-columns: 74% 24%;
  width: 100%;
  gap: 2%;
  padding: 0.8rem;
  margin: 2.4rem auto;
}

.hero-right {
  display: grid;
  border-radius: 1.8rem;
  background-color: var(--body-color);
  direction: column;
}
.hero-up {
  display: flex;
}

.img-box {
  width: 36%;
  flex-direction: column;
  gap: 1.8rem;
  padding: 2rem;
  border-radius: 1.4rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: relative;
}
.img-box:before {
  content: '';
  position: absolute;
  border-radius: 1.4rem 0rem 0rem 1.4rem;
  width: 100%;
  height: 100%;
  top: 0rem;
  background-color: #cdd2de;
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
}
.product-img {
  width: 280px;
  height: auto;
  border-radius: 1.4rem;
  z-index: 2;
  filter: brightness(120%), contrast(105%);
  cursor: pointer;
}

.product-name {
  padding-top: 2rem;
  font-size: 3.6rem;
  z-index: 1;
  font-weight: 600;
  word-spacing: 1px;
  letter-spacing: 1.05;
}

.product-list {
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 500;
  z-index: 1;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  z-index: 1;
}
.btn {
  display: inline-block;
  width: 8.6rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: var(--body-color);
  border-radius: 1rem;
  padding: 0.8rem 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #222;
  font-weight: 400;
}
.btn:hover {
  transition: var(--trans-02);
  transform: translateY(-2px);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.amz-btn {
  background-color: #302090;
  color: var(--secondary-color);
}

.product-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  border-radius: 1.4rem;
  margin: 1rem 1rem 0rem 2rem;
  flex-direction: column;
  gap: 1.4rem;
  font-size: 1.8rem;
  padding: 4rem;
  letter-spacing: 1.05;
  line-height: 1.3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
}

.prosAndcons {
  display: flex;
  border-radius: 1.4rem;
  gap: 2.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1.05;
  padding: 4rem;
  margin: 2rem 1rem 1rem 2rem;
  line-height: 1.3;
  height: 100%;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
}

.product-details:hover,
.prosAndcons:hover {
  transition: var(--trans-02);
  transform: translateY(-4px);
}
.product-cons-heading,
.product-pros-heading {
  margin-bottom: 2.4rem;
}

.pros-icon {
  color: #428516;
}
.pros ul li,
.cons ul li {
  position: relative;
}
.pros-icon,
.cons-icon {
  position: absolute;
  left: -1.6rem;
  top: 0.2rem;
}
.cons-icon {
  color: red;
}
.hero-left {
  height: 100%;
  border-radius: 1.8rem;
  background-color: var(--body-color);
}

.left-container {
  padding: 2.4rem;
}
.img-ads {
  width: 83.5%;
  height: auto;
}

.hidden {
  width: 100%;
  height: auto;
  display: none;
}

/*================== MODAL DESIGN HERE ======================*/
.modal-section {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(34, 34, 34, 0.603);
}
.modal-section {
  padding: 4.4rem;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: var(--trans-02);
}
.modal {
  width: 75%;
  height: auto;
  display: flex;
  gap: 6.4rem;
  color: #222;
  background-color: var(--body-color);
  padding: 4.4rem;
  border-radius: 1.4rem;
  position: relative;
}

.select {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.close-btn {
  position: absolute;
  font-size: 3.6rem;
  color: #222;
  top: 2.2rem;
  right: 4.4rem;
}
.close-btn:hover {
  transition: var(--trans-03);
  transform: translateY(-2px);
  cursor: pointer;
  color: #302090;
}

.address,
.phone,
.email,
.modal-left,
.modal-right {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 400;
}

.location {
  font-size: 1.6rem;
  font-weight: 500;
}

.modal-left {
  gap: 3.8rem;
}

.modal-icons {
  font-size: 3.6rem;
  color: #302090;
}
.modal-icons:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.message-heading {
  font-size: 2.8rem;
  color: #302090;
  margin-bottom: 1rem;
  font-weight: 600;
}

.message-para {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.text-email,
.text-name {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  font-size: 1.4rem;
  color: #302090;
}

.text-message textarea,
.text-email input,
.text-name input {
  width: 44%;
  padding: 0.6rem 0.8rem;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
  border-radius: 0.4rem;
  outline: none;
}
.text-message {
  position: relative;
}
.text-message textarea {
  width: 70%;
  height: 8.4rem;
  resize: none;
}
.btn-2 {
  position: absolute;
  bottom: 2rem;
  right: 3.6rem;
  padding: 0.6rem 0.8rem;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  font-size: 1.6rem;
  background-color: var(--toggle-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
}
.btn-2:hover {
  transition: var(--trans-02);
  transform: translateY(-2px);
  cursor: pointer;
}
.btn-icon {
  color: #302090;
}

/*============== Top 3 design DESIGN HERE !============================*/

.offer-container {
  width: 100%;
  background-color: #a0a3ad;
  position: relative;
}
.offers {
  padding-bottom: 2.4rem;
}

.offers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.4rem;
  row-gap: 0.6rem;
  padding: 4.4rem 1.6rem;
  margin: 1rem;
}

.offers-headings {
  font-weight: 600;
  font-size: 4.4rem;
  padding: 2.8rem 0rem 1.8rem 0rem;
  color: #222;
}

.item {
  padding: 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
  border-radius: 1.4rem;
  background-color: #e4e9f7;
}

.mid {
  transform: translateY(-4rem);
}
.cards2,
.cards {
  width: 100%;
  flex-direction: column;
  gap: 2.8rem;
  padding: 1.4rem;
  border-radius: 1.4rem;
  background-color: #cdd2de;
  transition: var(--trans-02);
  position: relative;
  box-shadow: #a0a3ad 0px 1px 3px 0px, #a0a3ad 0px 0px 0px 1px;
}

.cards2:hover,
.cards:hover {
  transform: translateY(-4px);
  cursor: pointer;
}
.list-22 {
  flex-direction: column;
  font-size: 1.6rem;
}

.mobile-offer,
.laptop-offer {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 0rem 2.4rem;
  letter-spacing: 3.6px;
}

.cards-img {
  width: 260px;
  border-radius: 1.4rem;
  z-index: 1;
}

.cards-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-product-name {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.cards-list {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  gap: 1.6rem;
  margin-bottom: 1.4rem;
}
.offers-statement {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}
.buttons {
  margin-bottom: 1.4rem;
}

/*============== Mobile  DESIGN HERE !==========================*/

.mobile-heading {
  padding: 1.8rem;
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
  position: relative;
}

.mobile-Container-list {
  height: auto;
  padding: 2.4rem;
  background-color: #e4e9f7;
}
.mobile-list {
  padding: 6.4rem;
  background-color: #a0a3ad;
  border-radius: 1.4rem;
}
.mobile-list-sub {
  flex-direction: column;
  gap: 2.8rem;
  padding: 1.8rem;
}
.mob-cont {
  width: 80%;
}

/*============== FOOTER DESIGN HERE !============================*/
.footer {
  margin-top: 1rem;
  background-color: #cdd2de;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-1 {
  display: flex;
  justify-content: space-around;
  padding: 2.4rem;
}
.websites {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.web-text {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.footer-list {
  display: flex;
  gap: 1.6rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.footer-list li a:hover {
  transition: var(--trans-02);
  cursor: pointer;
  color: #111;
}

.newsletter,
.subscribe {
  display: flex;
  flex-direction: column;
}
.newsletter input,
.btnSubs {
  width: 80%;
  border: none;
  outline: none;
  padding: 0rem 0.4rem;
  height: 2.4rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.btnSubs {
  background-color: #302090;
  color: var(--body-color);
}

.btnSubs:hover {
  transition: var(--trans-02);
  cursor: pointer;
  background-color: #5c87fe;
  transform: translateY(-1px);
}

.email-footer {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.footer-send-Icon {
  font-size: 1.6rem;
  padding: 0.4rem;
  color: #302090;
  border-radius: 0.4rem;
  background-color: #a0a3ad;
}
.footer-send-Icon:hover {
  cursor: pointer;
  transition: var(--trans-01);
  transform: translateY(-1px);
}
.footer-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.2rem;
}
.company-name {
  font-size: 3.6rem;
  color: #222;
}
.footer-text {
  color: #222;
  font-size: 1.6rem;
  font-weight: 500;
}
.span {
  color: #302090;
}

/*============== ERROR DESIGN HERE !============================*/

.errors {
  width: 100%;
  height: 90vh;
  background-color: #e4e9f7;
  padding: 2.4rem;
}
.error-container {
  /* width: 64%; */
  margin: 0 auto;
  padding-top: 9.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.error-status,
.error-statement,
.error-statement2,
.button {
  color: #222;
}

.error-status {
  font-size: 9.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: #302090;
}

.error-statement,
.error-statement2 {
  font-family: 'Akaya Telivigala', cursive;
}

.error-statement {
  font-size: 6.4rem;
}
.error-statement2 {
  font-size: 4.4rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.button {
  display: flex;
  gap: 2rem;
}
.btn {
  border: none;
  outline: none;
}
.btn-home {
  background-color: #302090;
  color: #e4e9f7;
}
.btn-home,
.btn-back {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*********** OTHER CONTAINER HERE   **************/
.offer-cont {
  row-gap: 3rem;
  column-gap: 3rem;
}
